.upload-container {
  width: 450px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.preview {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}
